<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>This was a great day. I bought my first iPhone.</string>
	<string>I am going to buy an iPhone today.</string>
	<string>Cada semana montamos en bici</string>
	<string>Die Kleinen haben friedlich zusammen gespielt</string>
	<string>Je marchais derrière à cause de mon sac qui commençait à peser</string>
	<string>I recently read a book. It was about one goose.</string>
	<string>I am not sure if you can buy geese as pets.</string>
	<string>Les coquelicots en fleur … les enfants marchent jusqu&apos;en haut!</string>
	<string>Wir kaufen uns bald einen Homepod.</string>
	<string>Lizzie’s tenth birthday party … Lisa baked a delicious cake</string>
	<string>Montando en bicicleta con la familia</string>
	<string>Nous marchons le long du chemin jusqu&apos;au sommet!</string>
	<string>Stiamo visitando la città di Yuanyang</string>
	<string>The hiking boys!</string>
	<string>Someone told me that all cats have green eyes. I am just not buying it.</string>
	<string>Ich habe mir ein neues iPhone gekauft.</string>
</array>
</plist>
